body {
    color: #68717A;
}

h1, h2, h3 {
    color: #343A40;
}

.py-6 {
    padding-bottom: 64px;
    padding-top: 64px;
}

.logo {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #343A40;
}

.site-nav {
    background-color: #E9ECEF;
    color: #6C757D;
}

.site-nav a {
    color: #6C757D;
}

.site-nav a:hover {
    color: #7f95a7ff;
}

.site-nav a.active {
    color: #6f42c1;
}

footer {
    border-top: 1px solid #eee;
}

.btn-whatsapp {
    background-color: #E9ECEF;
    border-color: #E9ECEF;
    color: #343A40;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 22px;
}

.btn-whatsapp svg {
    margin-right: 8px;
}

.hero {
    color: #6C757D;
    text-align: center;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-weight: bold;
}

.media-content-container {
    max-width: 1024px;
    margin: 0 auto;
}
